<h1> Your bookings </h1>
<ul>
  <% @bookings.each do |booking| %>
  <li><a href="/booking/<%= booking.id %>">#<%= booking.id %></a>: <%= booking.listing.name %> on <%= booking.check_in.strftime('%e %B %Y')%></li>
   <% end %>
 </ul>
