.btn-lg {
  float:left;
  margin-right:5px;
}

body {
    padding-top: 65px;
}

._method {
  float:right;
}

.link-button {
  background: none;
     border: none;
     color: inherit;
     text-decoration: underline;
     cursor: pointer;
}
