<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
  </head>
  <body>
    <header>
      <% if current_user %>
      <h1> Hello <%= current_user.username.capitalize %> </h1>
      <% end %>
    </header>
    <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id='flash'>
      <% flash[:errors].each do |error| %>
       <li> <%= error %> </li>
      <% end %>
    </ul>
    <%end %>
    <%= yield %>

    <% if current_user %>
    <form action='/session' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value="Log Out">
    </form>
    <%end%>

    <%if !current_user %>
    <form action='/log_in' method='get'>
      <button type='submit'>Log in</button>
    </form>
    <form action='/sign_up' method='get'>
      <button type='submit'>Sign up</button>
    </form>
    <%end%>


  </body>
</html>
