<h2>Sign Up</h2>

<form action="/new_user" method="post">
  <lable for="username">Username</lable>
  <input type="text" name="username" size="" placeholder="Please enter user name" required>
  <lable for="email">Email</lable>
  <input type="email" name="email" size="" placeholder="Please enter email" required>
  <lable for="password">Password</lable>
  <input type="password" name="password" size="" placeholder="Please enter password" required>
  <input type="submit" value="Sign Up">
</form>
